version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    ports:
      - "3000:3000"
    depends_on:
      - rabbitmq
    networks:
      - app-network

  order-service:
    build: ./services/order-service
    container_name: order-service
    ports:
      - "3001:3001"
    depends_on:
      - rabbitmq
    networks:
      - app-network

  notification-worker:
    build: ./services/notification-worker
    container_name: notification-worker
    depends_on:
      - rabbitmq
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - auth-service
      - order-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
