apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: default
  labels:
    app: api-gateway
spec:
  type: LoadBalancer
  selector:
    app: api-gateway
  ports:
    - name: auth
      port: 3000
      targetPort: 3000
      nodePort: 30000
    - name: order
      port: 3001
      targetPort: 3001
      nodePort: 30001
    - name: rabbitmq
      port: 5672
      targetPort: 5672
      nodePort: 30672
    - name: rabbitmq-mgmt
      port: 15672
      targetPort: 15672
      nodePort: 31567
